
# Thư viện của đồ án chính
# flask
# numpy
uvicorn
fastapi
pydantic
python-dotenv
langchain-community
langchain-core
langchain-text-splitters
langchain-classic
langchain-chroma
langsmith
faiss-cpu
openai
langchain-openai