@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    max-width: 1672px;
    /* width cố định */
    min-width: 1672px;
    /* tránh co nhỏ màn hình */
    margin: 0 auto;
    /* căn giữa trang */
    overflow-x: hidden;
}

/* Brief information */
.name {
    margin-bottom: 20px;
}

.info-section {
    height: 500px;
    /* chiều cao cố định */
    overflow-y: auto;
    /* scroll dọc khi nội dung vượt quá 500px */
    overflow-x: hidden;
    /* ẩn scroll ngang nếu có */
}

.info-wrapper {
    width: 1672px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.information-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.image-frame {
    width: 400px;
    height: 392px;
    border-radius: 20px;
    /* bo góc */
    overflow: hidden;
    /* quan trọng!! để ảnh không tràn ra ngoài */
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* để ảnh luôn lấp kín khung */
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 600px;
}

.rating {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100px;
}

.rating-star {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.rating-star img {
    width: 24px;
}

.locate {
    margin-top: 100px;
}